*{
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
}

.dnone{
    display: none;
}

.margin2{
    margin-top: 50px;
}

.bgblack{
    background-color: #100e17;
}

.navbg{
    background-image: linear-gradient(to left ,#100e17 30%,#044174);
}

.navbg1{
    background-image: linear-gradient(to left ,#999999 30%,#044174);
    z-index: 111111111;
}

.navlink{
    font-family: 'Roboto', sans-serif;
    position: relative;
    transition: color ease-in-out 200ms 0s;
}

.navlink:hover{
    color: #2196F3 !important;
}

.navlink::after{
    content: '';
    width: 0px;
    height: 1px;
    background: white;
    position: absolute;
    top: 100%;
    left: 0;
    transition: all ease-in-out 0.5s;
}

.navlink:hover::after{
    width: 100%;
    transition: all ease-in-out 0.5s;
}

.icon{
    color: transparent !important;
}

.bgblue{
    background-color: #1f88dd;
}

.radius{
    border-radius: 20px 20px 20px 0 ;
}

.firstlink:hover .iconblue{
    color: #1f88dd;
}

.fsize1{
    font-size: 14px;
}

.icon2{
    transition: all ease-in-out 200ms 0s;
}

.icon2:hover{
    color: #1f88dd;
    background-color: white;
}

.borderrad{
    border: 20px solid #1f88dd;
    border-radius: 70%;
    width: 400px;
    height: 400px;
}

.imgsize{
    width: 88%;
}

.miniinfo{
    border: 1px solid #1f88dd;
    border-radius: 3px;
    font-size: 14px;
}

.bluelink{
    transition: all ease-in-out 100ms 0s;
}

.bluelink:hover{
    background-color: #063861;
}

.bluelink:focus{
    box-shadow: 1px 0px 10px #2196F3 ;
}

.bginfo{
    background-color: #1e1e24;
}

.purple{
    color: rgb(179, 15, 179);
}

.iron{
    color: rgb(182, 69, 28);
}

.shadow1{
    box-shadow: -1rem 0rem 3rem #000000;
}

.motherline{
    height: 7px;
    background-color: #727275;
}

.sonline{
    background-color: #2196F3;
}
.h195{
    height: 195px;
}

.svgsize{
    width: 100px;
    height: 100px;
}

.roww{
    width: 432px !important;
}

.margin1{
    margin-top: 38px;
}



.navlink2:hover{  
    color: #fff !important;
    box-shadow: inset 0px -2px 0px #1f88dd;
}

.activeli{
    box-shadow: inset 0px -2px 0px #1f88dd;
}

.motherlink{
    width: 100%;
    height: 100%;
    z-index: 11111;
}

.mar1{
    margin-top: -130px;
}

.mar2{
    margin-top: -130px;
}
.mar3{
    margin-top: -2px;
}

.mar4{
    margin-top: 22px;
}

.rou1{
    border-radius: 11px;
}

.backend{   
    width: 100%;
    height: 100%;
    z-index: 11111;
    border-radius: 11px;
    transition: all ease-in-out 300ms 0s;
}

.parag{
    color: white;
    font-size: 25px;
    z-index: 20000;
    width: 200px;
}

.box1:hover .backend{
    background-color: rgba(39, 171, 211, 0.85);
}

.bluecolor{
    color: #2196F3;
}

.navlink3:hover{  
    box-shadow: none;
}

.spancolor{
    color: #a9a9a9;
}

.border1{
    border: 6px solid #1f88dd;
}

.bgimg{
    background-image: url("../images/16.png");
    background-size: 1200px 1200px;
}

.border2{
    width: 100px;
    height: 100px;
    border: 1px solid #1f88dd;
}

.bgtra{
    background-color: transparent;
}

.borderin{
    border: 1px solid #a9a9a9;
}
.re1{
    resize: none;
}

.fo1:focus{
    outline: none !important;
}

.z1{
    z-index: 9999999;
}

.modalbg{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    z-index: 11111111;
    right: 0;
    top: 0;
}

.modal10{
    background-color: burlywood;
    width: 400px;
    height: 550px;
    overflow-y: auto;
}

.back{
    font-size: 40px;
    transform: rotate(45deg);
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: none;
    top: 0;
    left: 10px;
}

.cursor{
    cursor: pointer;
}

.scroll{
    overflow-y: hidden;
}

.navMobile{
    width: 100%;
    height: 58px;
}

.page{
    width: 0;
    height: 100vh;
    top: 58px;
    right: 0;
    transition: all ease-in-out 500ms 0s;
    background-color: #171030;
    z-index: 11111111;
}

.w100{
    width: 30%;
}

.button{
    height: 100%;
    width: 58px;
    cursor: pointer;
}

.transp{
    background-color: transparent;
}

.line3,.line3::after,.line3::before{
    content: "";
    width: 100%;
    height: 5px;
    border-radius: 50rem;
    background-color: #a9a9a9;
    display: inline-block;
    position: absolute;
    transition: all ease-in-out 200ms 0s;
}

.line3::before{
    transform: translateY(-15px);
}

.line3::after{
    transform: translateY(15px);
}

.line2,.line2::after,.line2::before{
    background-color:  #070413;
}

.line1{
    background-color: transparent;
}

.line1::before{
    transform: rotate(-45deg) translate(0px ,0px);
}

.line1::after{
    transform: rotate(45deg) translate(0px , 0px);
}

@media screen and (max-width:1199px) and (min-width:992px) {
    .mar1{
        margin-top: -106px;
    }
    .mar2{
        margin-top: -106px;
    }  
}

@media screen and (max-width:991px) and (min-width:768px) {
    .mar1{
        margin-top: -74px;
    }
    .mar2{
        margin-top: -78px;
    }  
    .borderrad{
        border: 20px solid #1f88dd;
        border-radius: 70%;
        width: 340px;
        height: 340px;
    }
}

@media screen and (max-width:767px) and (min-width:576px) {
    .mar5{
        margin-top: 24px;
    }
    .mar3{
        margin-top: -61px;
    }
    .mar1{
        margin-top: 30px;
    } 
    .mar4{
        margin-top: -165px;
    } 
    .mar6{
        margin-top: 30px;
    }
    .mar2{
        margin-top: -163px;
    }
    .mar7{
        margin-top: -55px !important;
        margin-left: 270px;
    }  
    .w100{
        width: 40%;
    }  
}

@media screen and (max-width:576px) and (min-width:12px) {
    .mar8{
        margin-top: 24px;
    }
    .w100{
        width: 50%;
    }
}